@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/rubik.ttf") format("ttf");
}

@font-face {
  font-family: "RubikBold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/rubik.ttf") format("ttf");
}

html {
  font-family: "Rubik", system-ui, sans-serif;
}
