---
import MainLayout from '../layouts/Main.astro'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const projects = (await Astro.glob('./projects/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<MainLayout>
  <section>
    <ul>
      {
        projects.map((post) => (
          <li>
            <time datetime={post.frontmatter.pubDate}>
              {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </time>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
