---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  noMx?: boolean | null
}
---

<div class:list={['max-w-8xl mx-auto py-4', Astro.props.class]}>
  <div class:list={[{ 'mx-6': !Astro.props.noMx }]}>
    <slot />
  </div>
</div>
