---
import HeaderLink from './HeaderLink.astro'
import Container from './Container.astro'
import MobileNav from './MobileNav'
export const navLinks = {
  process: {
    label: 'Méthodologie',
    id: 'methodologie',
  },
  services: {
    label: 'Services',
    id: 'services',
  },
  mnemotix: {
    label: 'Mnemotix',
    id: 'mnemotix',
  },
  clients: {
    label: 'Clients',
    id: 'clients',
  },
  projects: {
    label: 'Réalisations',
    id: 'réalisations',
  },
  contact: {
    label: 'Contact',
    id: 'contact',
  },
}
---

<header
  class="sticky top-0 w-full bg-white/90 backdrop-blur flex-none supports-backdrop-blur:bg-white/95 shadow-md z-40"
>
  <Container>
    <div class="flex items-center">
      <a class="mr-6" href="/">
        <img
          class="h-24 w-full sm:max-w-[65vw] sm:min-w-[10vw]"
          src="/logo.svg"
          alt="Mnemotix"
        />
      </a>

      <div class="hidden sm:flex items-center justify-center grow">
        {
          Object.values(navLinks).map(({ label, id }) => (
            <HeaderLink href={`/#${id}`} class="">
              {label}
            </HeaderLink>
          ))
        }
      </div>

      <div class="sm:hidden mx-6 flex items-center justify-end grow">
        <MobileNav client:idle>
          {
            Object.values(navLinks).map(({ label, id }) => (
              <HeaderLink
                href={`/#${id}`}
                class="uppercase text-dark-blue text-2xl my-1 block"
              >
                {label}
              </HeaderLink>
            ))
          }
        </MobileNav>
      </div>
    </div>
  </Container>
</header>
