---
export interface Props extends astroHTML.JSX.ImgHTMLAttributes {}

const { src, ...props } = Astro.props
---

<picture>
  <source srcset={src.replace(/\.\w+$/, '.avif')} type="image/avif" />
  <source srcset={src.replace(/\.\w+$/, '.webp')} type="image/webp" />
  <img src={src} {...props} />
</picture>
