---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header, { navLinks } from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="fr-FR" class="scroll-smooth scroll-p-32">
  <head>
    <BaseHead
      title={[title, SITE_TITLE].filter((v) => !!v).join(' - ')}
      description={description || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
