---
import Container from '../components/Container.astro'
import Picture from '../components/Picture.astro'
import MainLayout from './Main.astro'
const { frontmatter } = Astro.props

const listPictos = [
  '/images/art/croixorange.png',
  '/images/art/triangleorange.png',
  '/images/art/carreorange.png',
]
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <slot name="hero-image">
    <div class="flex h-[200px] sm:h-[min(600px,100vh)]">
      <div
        class="w-full h-full bg-cover bg-no-repeat bg-dark-blue bg-center flex-[0_0_100%]"
        style={{
          backgroundImage: `url('${frontmatter.heroBgImg}')`,
        }}
      >
        <Container noMx class="py-0">
          <slot name="hero">
            {
              frontmatter.heroImg && (
                <Picture
                  src={frontmatter.heroImg}
                  alt="Illusatration du projet"
                  class="h-[200px] sm:h-[min(600px,100vh)] w-auto"
                />
              )
            }
          </slot>
        </Container>
      </div>
    </div>
  </slot>

  <Container>
    <div class="mt-10 mb-4">
      <span
        class="w-full sm:w-auto p-3 text-xl sm:text-2xl text-white bg-dark-blue inline-block"
        >{frontmatter.title}
      </span>
    </div>

    <div class="text-base sm:text-xl p-4" set:html={frontmatter.description}>
    </div>

    <div class="my-5 sm:my-10">
      <span
        class="w-full sm:w-auto p-3 text-xl sm:text-2xl text-white bg-dark-blue inline-block"
        >Les clients</span
      >
    </div>

    <div class="text-base sm:text-xl p-4" set:html={frontmatter.clients}></div>

    <div class="my-5 sm:my-10">
      <span
        class="w-full sm:w-auto p-3 text-xl sm:text-2xl text-white bg-dark-blue inline-block"
        >Les objectifs</span
      >
    </div>

    <div class="text-base sm:text-xl p-4">
      {
        Array.isArray(frontmatter.objectives) ? (
          <ul>
            {frontmatter.objectives.map((detail, index) => (
              <li class="flex justify-center items-start mb-4 ">
                <div class="flex-none">
                  <Picture
                    class="h-8"
                    alt="Pictogramme de puce"
                    src={listPictos[index % listPictos.length]}
                  />
                </div>
                <div class="pl-8 grow">{detail}</div>
              </li>
            ))}
          </ul>
        ) : (
          <Fragment set:html={frontmatter.objectives} />
        )
      }
    </div>

    <div class="my-5 sm:my-10">
      <span
        class="w-full sm:w-auto p-3 text-xl sm:text-2xl text-white bg-dark-blue inline-block"
      >
        Les détails de la prestation
      </span>
    </div>

    <div class="text-base sm:text-xl p-4">
      {
        Array.isArray(frontmatter.details) ? (
          <ul>
            {frontmatter.details.map((detail, index) => (
              <li class="flex justify-center items-start mb-4 ">
                <div class="flex-none">
                  <Picture
                    class="h-8"
                    alt="Pictogramme de puce"
                    src={listPictos[index % listPictos.length]}
                  />
                </div>
                <div class="pl-8 grow">{detail}</div>
              </li>
            ))}
          </ul>
        ) : (
          <Fragment set:html={frontmatter.details} />
        )
      }
    </div>

    <slot />
  </Container>
</MainLayout>
